/**
 * Scroll bar styles.
 */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}


/**
 * Layout
 */
* {
  box-sizing: border-box;
}
body {
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
  padding: 8px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.title {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 8px;
  padding: 16px;
}

.section-wrapper {
  display: flex;
  height: 80vh;
}

.section--puzzles {
  flex-grow: 2;
}

.section--messages,
.section--collaborators {
  flex-basis: 20%;
}

.section {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.section > header {
  border-bottom: 1px solid #ccc;
  flex-shrink: 0;
  margin: 16px 16px 0 16px;
}

.section > section {
  flex-grow: 1;
  margin-left: 16px;
  overflow: auto;
}

.section > footer {
  flex-shrink: 0;
  margin: 16px;
}

@media (max-width: 1000px) {
  .section-wrapper {
    height: auto;
    flex-direction: column;
  }
  .section--messages,
  .section--collaborators {
    flex-basis: auto;
  }
}


/**
 * Search forms.
 */
.search-form {
  display: none;
}


/**
 * pb.Collaborators
 */
.collaborator {
  height: 40px;
  margin-bottom: 8px;
  opacity: .3;
  padding-left: 48px;
  position: relative;
}

.collaborator.collaborator--active {
  opacity: 1;
}

.collaborator img {
  height: 100%;
  left: 0;
  position: absolute;
}


/**
 * pb.Puzzles
 */
.puzzle {
  border-bottom: 1px solid #ccc;
  padding: 8px 16px 8px 0;
}

.puzzle > header {
  display: flex;
  font-size: 18px;
}

.puzzle .name {
  flex-grow: 1;
  border: 0;
  outline: 0;
  width: 100%;
}

.puzzle .status {
  flex-shrink: 0;
  font-size: 13px;
}

.puzzle .status-icon {
  border-left: 1px solid #ccc;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 16px;
  width: 16px;
  text-align: center;
}

.puzzle.puzzle--collapse .status {
  -webkit-appearance: none;
  background-color: #fff;
  border: 0;
  color: inherit;
}

.puzzle.puzzle--collapse .name {
  color: inherit;
  background-color: #fff;
}


.puzzle .answer {
  border: 1px solid #ccc;
  margin-bottom: 16px;
  margin-top: 16px;
  width: 100%;
}

.puzzle .notes {
  display: block;
  height: 160px;
  border: 1px solid #ccc;
  width: 100%;
}

.puzzle > section {
  transition: height .5s ease;
  overflow: hidden;
}

.puzzle.puzzle--collapse > section {
  height: 0px;
}

/**
 * pb.Messages
 */
.message-compose {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
}


/**
 * pb.Authorize
 */
.authorize {
  display: none;
}
.authorize--show {
  background-color: #666;
  display: block;
  height: 100%;
  padding-top: 10%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}
