{% extends "main.html" %}
{% block body %}
<h1 class="title">{{ name }}</h1>
<section class="section-wrapper">
  <section class="section section--puzzles">
    <header>
      <h2>Puzzles</h2>
      <form class="search-form search-form--puzzles">
        <input class="search-input" placeholder="Search Puzzles">
      </form>
    </header>
    <section class="puzzle-list">
      <div class="puzzle puzzle--expanded">
        <textarea class="name">The Butter End.</textarea>
        <label class="status">
          <select>
            <option>New</option>
            <option>Underway</option>
            <option>Needs Help</option>
            <option>Solved</option>
          </select>
        </label>
        <div class="hunters">
          Hunters: <span>2</span>
        </div>
        <div class="puzzle-details">
          <textarea class="url">https://hunt.org/foo</textarea>
          <textarea class="answer">Answer</textarea>
          <textarea class="notes">Notes</textarea>
          <ul>
            <li><a href="#">Google Doc</a>
          </ul>
          <button class="add">Add doc</button>
          <button class="delete">Delete</button>
          <ul>
            <li>hunter 1
            <li>hunter 2
          </ul>
          <button class="addhunter">I'm working on this</button>
          <div>Created 1/15/2015 at 14:59</div>
        </div>
      </div>
    </section>
    <footer>
      <button class="puzzle-add">Add Puzzle</button>
    </footer>
  </section>
  <section class="section section--messages">
    <header>
      <h2>Messages</h2>
      <form class="search-form search-form--messages">
        <input class="search-input" placeholder="Search Messages">
      </form>
    </header>
    <section class="message-list"></section>
    <footer>
      <form class="message-form">
        <input name="msg" class="message-compose" placeholder="Add a message...">
      </form>
    </footer>
  </section>
  <section class="section section--collaborators">
    <header>
      <h2>Team</h2>
      <form class="search-form search-form--collaborators">
        <input class="search-input" placeholder="Search Team">
      </form>
    </header>
    <section class="collaborator-list"></section>
  </section>
</section>

<div class="authorize">
  <button class="auth-button">Click to Authorize</button>
</div>

<script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
{% endblock %}
{% block js_page_type %}hunt_dashboard{% endblock %}
{% block js_model_object %}
{
  'hurl': '{{hurl|e}}',
  'name': '{{name|e}}',
  'rt_file_id': '{{rt_file_id|e}}',
  'shared_folder_id': '{{shared_folder_id|e}}'
}
{% endblock %}
